body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  font-size: 2.5rem;
  color: #333;
}

h2,
h3 {
  font-size: 1.5rem;
  color: #555;
}

/* .btn {
  height: 150px;
  width: 150px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.1s;
} */

.btn:active {
  transform: scale(0.9);
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.yellow {
  background-color: #f99b45;
}

.red {
  background-color: #d95980;
}

.purple {
  background-color: #819ff9;
}

.green {
  background-color: #63aac0;
}

.flash {
  background-color: white;
}

.userflash {
  background-color: green;
}

/* @media (min-width: 768px) {
  .btn {
    height: 200px;
    width: 200px;
    margin: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2, h3 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .btn {
    height: 250px;
    width: 250px;
    margin: 2.5rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2, h3 {
    font-size: 2.5rem;
  }
} */



.btn {
  height: 20vw;
  width: 20vw;
  max-height: 250px;
  max-width: 250px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.1s;
}

@media (min-width: 768px) {
  .btn {
    height: 15vw;
    width: 15vw;
    max-height: 200px;
    max-width: 200px;
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  .btn {
    height: 10vw;
    width: 10vw;
    max-height: 250px;
    max-width: 250px;
    margin: 2.5rem;
  }
}